
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href="~/Content/Login_Style.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/jquery2.0.3.min.js"></script>
<div class="container" style="width:100%;background-color: white; margin-top: 100px; border-radius: 4px 4px; box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.32);">

    <div class="omb_login">
        <h3 class="omb_authTitle "><a>ĐĂNG NHẬP ADMIN TEK</a></h3>
        <div class="row omb_row-sm-offset-3 omb_socialButtons">
            <div class="col-xs-1 col-sm-1"></div>
        </div>
        <div class="row" style="text-align:center;margin-bottom:10px">
            <span class="text-danger">@Session["ThongbaoLogin"]</span>
        </div>
        
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            bool nho = @ViewBag.reme == "true" ? true : false;
            <div class="row omb_row-sm-offset-3">
                <div class="col-xs-12 col-sm-6">
                    <form class="omb_loginForm" action="" autocomplete="off" method="post">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input value="aa" type="text" class="form-control" id="UserName" name="UserName" placeholder="Tên tài khoản" required>
                        </div>
                        <span class="help-block"></span>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input value="" type="password" class="form-control" id="Password" name="Password" placeholder="Mật khẩu" required>
                        </div>
                        <span class="help-block">@Html.ValidationSummary(false, "", new { @class = "text-danger" })</span>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng nhập</button>
                        
                    </form>

                </div>

            </div>
            <div class="row omb_row-sm-offset-3">
                <div class="col-xs-12 col-sm-2">
                    <p class="omb_forgotPwd pull-left">
                        <a href="/AccountWeb/_ForgotPass">Quên mật khẩu ?</a>
                    </p>
                </div>

            </div>
        }
    </div>
</div>
